/*滚动条样式：谷歌浏览器下*/
::-webkit-scrollbar{
  width: 10px;
  height: 10px;
  background-color: #f5f7fa;
}
/*滚动条的轨道*/
::-webkit-scrollbar-track{
  /*box-shadow: inset 0 0 5px rgba(0,0,0,.3);*/
  background-color: #f5f7fa;

}
/*滚动条的滑块按钮*/
::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: #e4e7ed;
  /*box-shadow: inset 0 0 5px #000;*/
}
/*滚动条的上下两端的按钮*/
::-webkit-scrollbar-button{
  height: 0px;
  background-color: #B0AEDA;
}
.el_tableDiv{
  height: 420px;
  overflow-y:auto;
}
/**设置滚动条宽度 */
/*::-webkit-scrollbar{width:0px;height: 0px}*/
